<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>添加辅食后，宝宝大便的改变正常吗？</string>
		<key>detail</key>
		<string>添加辅食后，宝宝的大便会有些改变，可能会呈墨绿色或黄褐色，还可能会带些奶瓣，这都不算病态，与宝宝添加的辅食有关，如喂含绿色的蔬菜可排绿色大便。这都是正常现象。只要宝宝的精神很好、食欲正常、体重正常增长，就没有问题 </string>
	</dict>
	<dict>
		<key>title</key>
		<string>新食材添加的注意事项有哪些？</string>
		<key>detail</key>
		<string>1、 要注意辅食的卫生 给宝宝添加的辅食最好现吃现做，如不能现吃现做，也应将食物重新蒸煮。添加辅食的用具要经常消毒，以防病毒侵入宝宝体内引起疾病。
２、及时调整辅食添加的进度 每个宝宝都有个体差异，不能一直照搬书本上的方法，要根据宝宝具体的情况，即时调整辅食的数量和品种。
3、不宜在炎热季节添加辅食 天气热会影响宝宝的食欲，饭量会减小，还容易导致宝宝消化不良，最好等天气凉爽一些再添加辅食。
4、吃流质或泥质食物的时间不宜过长 不能长时间给宝宝吃流质或泥状的食物，这样会使宝宝错过发展咀嚼能力的关键期，可能导致宝宝在咀嚼食物方面产生障碍。
5、不要很快让辅食替代乳类 6个月以内宝宝吃的主要食物应该仍然以母乳或配方奶为主，因为母乳或配方奶中含有宝宝需要的营养，在此阶段添加一些流质的辅食即可，其他辅食只能作为一种补充食物，不可过量添加。
6、辅食添加要适合月龄 过早地添加辅食，宝宝会因消化功能尚不够成熟而导致消化功能发生紊乱，过晚地添加辅食，则会造成宝宝营养不良，甚至会使宝宝因此拒吃非乳类的流质食物。
7、宝宝生病时不要添加辅食 要让宝宝感觉到吃饭是件快乐的事情，那就不能在宝宝不舒服的时候为其添加辅食，也不要增加新的食物。 
8、不强迫宝宝进食 宝宝也有自己的口味，不是每一个宝宝都会喜欢吃任意味道的食物，所以即使宝宝不喜欢吃某一种食物也没有关系，不要强迫他。妈妈可以选择其他的做法或者过一段时间再添加，即使宝宝一直都不爱吃，也可以不吃的。 9、注意观察不良反应 添加辅食后要注意观察宝宝的皮肤，看看有无过敏反应，如皮肤红肿、有湿疹，应停止添加这种辅食。此外，还要注意观察宝宝的粪便，如粪便不正常也应暂停添加这种辅食，待其粪便正常，无消化不良症状后，再逐渐添加，但量要小。</string>
	</dict>
	<dict>
		<key>detail</key>
		<string>宝宝添加一种新的食材，如有呕吐、腹泻、出疹子等消化不良反应或过敏症状时，可暂缓添加，但是不能认为是孩子不适应此种食物而不再添加了。待症状消失后再从小量开始添加，如果仍出现过敏，应暂停食用并尽快咨询医生。如婴儿患病，当日要暂停添加新的食物。</string>
		<key>title</key>
		<string>添加新食材后，出现不适怎么办？</string>
	</dict>
	<dict>
		<key>title</key>
		<string>新食材添加的原则是什么？</string>
		<key>detail</key>
		<string>食物转换（辅食添加）的原则：每次添加一种新食物，由少到多、由稀到稠，循序渐进；逐渐增加辅食种类；由半固体食物逐渐过渡到固体食物。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>如何让宝宝接受新食材？</string>
		<key>detail</key>
		<string>因宝宝的生长发育及对食物的适应性和爱好都存在一定的个体差异，辅助食品添加的时间、数量以及快慢等都要根据宝宝的实际情况灵活掌握，遵照循序渐进的原则。
（1）从一种到多种：开始添加的食物应当遵循从一种到多种的原则，每添加一种新食物，应试用几天，当宝宝适应了这种食物后再开始添加另一种新食物，要一种一种地逐一添加，如果几种食物宝宝都适应了，可选择其中两三种食物相互混合着添加给宝宝。
（2）由少量到多量：添加的食物量要根据宝宝的营养需要和消化道的成熟程度，开始添加的食品科先从少量开始，每天1次，以后逐渐增加次数和量，并逐步减少母乳喂哺1～3次，逐渐达到停止母乳喂养的目的。比如从1小勺米糊、一天1次开始，让婴儿尝试，并注意婴儿大便的变化，如果大便没有异常，慢慢增加到1勺、2勺，每天尝2次……直到可成为单独的1餐。
（3）逐渐从稀到稠、从细到粗：给予的食物应逐渐从稀到稠，逐渐增加食物的粘稠度，例如从米汤、烂粥、稀粥，最后到软饭。给予食物的性状应从细到粗，例如从先喂菜汤开始、逐渐试喂细菜泥、粗菜泥、碎菜和煮烂的蔬菜。 （4）注意观察婴幼儿的消化能力和过敏：添加一种新的食物，如有呕吐、腹泻、出疹子等消化不良反应或过敏症状时，可暂缓添加，但是不能认为是孩子不适应此种食物而不再添加了。待症状消失后再从小量开始添加，如果仍出现过敏，应暂停使用并尽快咨询医生。如婴儿患病时，可根据当时情况暂停添加新的食物。
（5）不要强迫进食：当婴儿不愿意吃某种新食品时，切勿强迫，可改变方式，常常会收到良好的效果。例如，可在婴儿口渴时给予菜汁，在婴儿饥饿时给予新的食物等。
（6）单独制作：婴儿的辅助食品要单独制作，应不加盐。添加的食物应新鲜，制作过程要卫生，防止婴儿因食入不干净的食物而导致疾病。喂给婴儿的食物最好现做，不要喂存留的食物。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>为什么不能过晚进行食物转换？</string>
		<key>detail</key>
		<string>过晚进行食物转换不利于宝宝的生长发育。4-6个月的宝宝对营养、能量的需要大大增加了，光吃母乳或配方奶粉已不能满足其生长发育的需要。而且，宝宝的消化器官逐渐健全，味觉器官也发育了，已具备进行食物转换的条件。 同时，4-6个月后是宝宝的咀嚼、吞咽功能以及味觉发育的关键时期，过晚添加辅食，会使宝宝的咀嚼功能发育迟缓或咀嚼功能低下，造成进食行为异常。另外，此时，婴儿在出生时从母体获得的各种营养储备，尤其是铁储备，已逐步耗竭，需要逐渐经食物获得其生长发育和维持生命活动所需要的营养物质，若不及时添加辅食，宝宝不仅生长发育会受到影响，还会因缺乏抵抗力而导致疾病。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>什么叫新食材添加（食物转换）？</string>
		<key>detail</key>
		<string>宝宝6月龄之后，母乳仍然是宝宝的主要食物，因此也是上佳的膳食营养来源，可以满足此时期宝宝的部分营养需求。但是此时单纯依靠母乳已经不能满足宝宝的全部营养需要了，在继续母乳喂养的基础上，需要逐渐小心的给婴儿提供更多母乳以外的食物（通常称为辅助食物，简称为辅食），以满足其对营养的需要。婴儿有纯乳类的液体食物向固体食物逐渐转换的过程称为食物转换（辅食添加）。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>什么条件下，可以开始添加新食材？</string>
		<key>detail</key>
		<string>下列几种情况说明婴儿发育良好，已经具备食物转换（辅食添加）的生理条件，可以根据宝宝生长发育情况综合考虑添加泥糊状食物。
（1）月龄判断：孩子月龄达到4个月以上；
（2）进食意向判断：当看到食物，头向前靠，流口水，甚至张开嘴巴，表现出兴奋的神情；
（3）天食量判断：宝宝每天吃奶量超过800毫升，胃口仍有即可。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>为什么不能过早为宝宝添加新食材？</string>
		<key>detail</key>
		<string>有些妈妈认为食物转换越早越好，可防止宝宝营养的缺乏。因此在宝宝刚刚两三个月时就开始进行食物转换。殊不知，过早进行食物转换会增加宝宝消化功能的负担。因为宝宝的消化器官还娇嫩，消化腺不发达，分泌功能差，许多消化酶尚未形成，不具备消化辅食的能力。 过早给宝宝添加辅食，宝宝又消化不了，这些食物就会滞留在腹中，造成宝宝腹胀、便秘、厌食，也可能因为肠蠕动增加，使大便量和次数增加，从而导致腹泻。 过早添加辅食还会增加食物过敏的机会。 因此，不到4个月的宝宝忌进行食物转换。 </string>
	</dict>
	<dict>
		<key>title</key>
		<string>新食材尝试顺序</string>
		<key>detail</key>
		<string>宝宝的辅食添加一定要合理，既要有一定的原则、一定的顺序，又要因人而异。下面提供一个辅食添加顺序以供参考：
从6个月开始，添加辅食顺序为：首先添加谷类食物（如婴幼儿米粉），其次添加蔬菜泥，然后水果泥，最后添加动物性食物，建议动物性食物添加的顺序为肉泥、蛋黄泥、肝泥，全蛋（如蒸蛋羹），添加这些辅食可提供宝宝生长发育所需的营养素，并为宝宝今后的配餐奠定基础。  </string>
	</dict>
	<dict>
		<key>title</key>
		<string>食物转换(辅食添加)的意义是什么？</string>
		<key>detail</key>
		<string>食物转换（辅食添加）的意义并不仅在于单纯满足婴儿对营养物质的需要，并且是婴儿学习进食，逐步适应母乳以外的食物，为断奶（停止母乳喂养） 作准备的重要过程，其重要性在于食物转换（辅食添加）的过程中：
1、通过接触不同性状的食物，可逐步训练婴儿的吞咽和咀嚼功能；
2、是逐步调整婴儿消化系统状况使之逐步适应食物改变，调整婴儿对新食物适应能力的过程；
3、可训练儿童的动作协调性，锻炼咀嚼、吞咽所涉及的肌肉和神经反射的协调性，有助于牙齿的萌出等，还有助于儿童早期良好饮食习惯的形成。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>食物过敏的症状有哪些？</string>
		<key>detail</key>
		<string>食物转换（辅食添加）的意义并不仅在于单纯满足婴儿对营养物质的需要，并且是婴儿学习进食，逐步适应母乳以外的食物，为断奶（停止母乳喂养） 作准备的重要过程，其重要性在于食物转换（辅食添加）的过程中：
1、通过接触不同性状的食物，可逐步训练婴儿的吞咽和咀嚼功能；
2、是逐步调整婴儿消化系统状况使之逐步适应食物改变，调整婴儿对新食物适应能力的过程；
3、可训练儿童的动作协调性，锻炼咀嚼、吞咽所涉及的肌肉和神经反射的协调性，有助于牙齿的萌出等，还有助于儿童早期良好饮食习惯的形成。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>吃饭的时候可以逗宝宝吗？</string>
		<key>detail</key>
		<string>这个时期的宝宝开始咿呀学语，十分可爱，爸爸妈妈就喜欢逗弄宝宝，但千万不要在宝宝吃饭或喂食的时候逗弄，这样一方面不利于宝宝养成良好的进食习惯，另一方面，也有可能使食物呛入宝宝气管，引起危险。 </string>
	</dict>
	<dict>
		<key>title</key>
		<string>出现食物不耐受怎么办？</string>
		<key>detail</key>
		<string>一般建议把某一种或几种特定的食物从宝宝的菜谱中剔除，以此来逐步排查哪些食物才是导致宝宝肠胃疾病的罪魁祸首。不过不用担心，就算宝宝现在对某种食物不耐受，并不意味这种状况会一直持续下去。举个例子，如果宝宝在吃过南瓜后有放屁和肚子不舒服的情况，可以暂停吃南瓜，过两个月再试试看，可能宝宝就没有任何不良反应了。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>孩子不爱吃某种食材怎么办？</string>
		<key>detail</key>
		<string>虽然母乳是宝宝们最佳的饮食，但是随着宝宝的逐渐长大，身体发育速度的加快，需要更多的营养元素，这时候需要适当的给孩子添加辅食</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝不爱吃做的饭菜时该怎么办？</string>
		<key>detail</key>
		<string>宝宝虽然小，但也有自己独立的意识，如果觉得饭菜不好吃，他就不会吃，因此爸爸妈妈一定要提高自己的烹饪技巧，可以看一些制作好吃的饭菜的视频节目。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>如何让宝宝接受不喜爱的食物？</string>
		<key>detail</key>
		<string>有些营养丰富的食物在味道上可能不容易被宝宝接受，此时，爸爸妈妈的示范作用就比较重要了。如：许多宝宝都不太爱吃胡萝卜，但当他们看到爸爸妈妈大口地吃着自己碗中的胡萝卜时，就会有兴趣尝试一下。就算宝宝坚持不肯吃，也可以在下次换个做法，吃给宝宝看，慢慢地，就能培养宝宝吃的兴趣了。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝不吃蔬菜怎么办？</string>
		<key>detail</key>
		<string>早一点给宝宝吃蔬菜可以避免其日后厌食蔬菜。从婴儿期开始， 就应该适时地给宝宝添加一些有蔬菜的辅助食品。刚开始可以给宝宝喂些蔬菜泥，随着宝宝辅食种类的增加，可以把各种各样的蔬菜剁碎后放入粥、面条中喂宝宝吃。对于那些不爱吃蔬菜的宝宝，不妨经常给他们吃些带馅食品。将菜、肉、蛋混合成馅，做成饺子、包子， 这些带馅食品便于宝宝咀嚼吞咽和消化吸收，且味道鲜美，营养也比较全面。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝不喜欢吃鱼、肉、蛋怎么办？</string>
		<key>detail</key>
		<string>鱼、肉、蛋能为宝宝提供优质蛋白质和脂肪等营养素，但有些宝宝却只喜欢吃粥，而不喜欢吃鱼、肉、蛋，此时，妈妈们可以想一些办法来让宝宝吃这类食物。比如：把肉末掺和到粥里；把鸡蛋做成牛奶鸡蛋羹；把鱼肉做成鱼肉松，在宝宝喝粥的时候加进去。这样一来，宝宝就会在不知不觉中将鱼、肉、蛋吃进去，随着对鱼、肉、蛋口味的熟悉，宝宝也会越来越喜欢吃这些食物。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝拒绝吃果蔬怎么办？</string>
		<key>detail</key>
		<string>当宝宝不喜欢吃果蔬时，可能会用一些方式来拒绝。在这种时候，妈妈应该仔细观察，找出原因，让宝宝慢慢接受，而不要马上放弃。
（1）一口饭在口中含了很久，就是不往下咽。仔细看看，是不是因为有青菜在里面。如果是的话，下一口就选择宝宝喜欢吃的食物，也可将宝宝喜欢吃的食物与蔬菜混合在饭中，一起喂给宝宝。需要注意的是，刚开始混合时，蔬菜的量要少，然后逐渐增加。
（2）咬不下去。因蔬菜纤维较长，而宝宝的咀嚼能力差，可能容易放弃这类食物。这种情况下，制作食物时，要选择鲜嫩的原料，或将食物切得细些，煮得软烂些，以便于宝宝进食。
（3）吞不下去。一些金针菇、豆苗及纤维太长的蔬菜，直接吞食容易造成宝宝吞咽困难或产生呕吐的感觉，因此制作时应先切细或剁碎。
（4）呕吐。部分蔬果含有特殊气味，如苦瓜、荠菜，宝宝可能不太接受，此时可减少供应的量或等宝宝较大时再试。
（5）太酸了。大部分宝宝可能无法接受太酸的水果，此时可将水果放得较熟以后再吃。或者可将酸水果混合在宝宝能接受的水果中吸引宝宝尝试。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝出牙时拒食怎么办？</string>
		<key>detail</key>
		<string>宝宝出牙了，妈妈很高兴，可同时却发现宝宝在吃奶时与以前不同，有时连续几分钟猛吸乳头或奶瓶，一会儿又突然放开奶头，像感到疼痛一样哭闹起来，反反复复，这时，如果给宝宝点固体食物，宝宝就会很高兴地吃起来。 这主要是因为，宝宝的牙齿破牙龈而出，在吸吮乳头时碰到了牙龈，使牙床疼痛而表现出拒食。此时，爸爸妈妈可将宝宝每次的喂奶时间分为几次，间隔当中，喂些适合宝宝吃的固体食物，如磨牙棒、馒头片、水果条等。如果宝宝用奶瓶，可将奶嘴的洞眼开大一些，使宝宝不用费劲就可吸吮到奶，这样就不会感到过分地疼痛。如果按以上方法喂养，宝宝仍然拒食，则可改用小勺喂奶，这样也会改善宝宝的疼痛状态，使宝宝顺利吃奶。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝出现食物过敏怎么办？</string>
		<key>detail</key>
		<string>在给宝宝增加新的辅食品种时，一定要一样一样分开来添加，每添加一种新食物时，要注意观察婴儿有没有过敏性反应，如皮疹、瘙痒、呕吐、腹泻等，一旦出现过敏反应，应立即停止这种食物一段时间，然后再试喂。切忌多种新食物同时添加，分辨不清过敏源。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>什么是食物不耐受有什么症状？</string>
		<key>detail</key>
		<string>对某样食物不耐受，这与身体的免疫机制无关，它指的是人的消化系统不能很好地消化这种食物，而这通常是由于体内缺乏某种消化酶所致。 如果宝宝经常在吃过某种特定的食物后出现肠胃问题（如放屁、腹胀、腹泻、痉挛、呕吐等），他可能就是对这种食物不耐受，12个月以下的婴儿有15%都有食物不耐受的情况，但严重性千差万别。有些宝宝要吃很多才会难受，有的只要吃一点点，马上就有症状表现。有时，宝宝只会病上几天；有时，难受劲儿很久都挥之不去。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>易过敏的食物介绍</string>
		<key>detail</key>
		<string>常见的易引起过敏的有鸡蛋、牛奶、花生、大豆、大麦、鱼、虾、猕猴桃等含蛋白质较丰富的食物。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>如何让宝宝避免过敏？</string>
		<key>detail</key>
		<string>（1）准妈妈在怀孕期间就应注意避免过敏症的发生。
（2）尽可能多给宝宝喂母乳。
母乳中含有多种对过敏有抑制作用的免疫球蛋白及多种抗体，对防止过敏很有好处。 母乳喂养的婴儿饮食比较单纯，基本不吃杂粮，这对接触过敏源食物有很好的“屏蔽”作用。 授乳的母亲除注意营养外，最好也不要吃高过敏食物。
（3）别在宝宝6个月时就断奶。
（4）如果家庭中有过敏史，就晚点给宝宝吃可能引发反应的食物（牛奶、蛋、小麦、贝壳类动物和软浆果，如草莓）直到宝宝至少1岁。如果好几种食物都不能吃，建议您尽早找饮食专家，让专家帮您评估宝宝的饮食，保证宝宝能得到他所需要的所有营养。
（5）在给宝宝增加新的辅食品种时，一定要一样一样分开来添加，在每添加一种新食物时，要注意观察婴儿有没有过敏性反应，如皮疹、瘙痒、呕吐、腹泻等，一旦出现过敏反应，应立即停止这种食物一段时间，然后再试喂。切忌多种新食物同时添加，分辨不清过敏源。
（6）让宝宝多饮温开水，促进体内毒素及过敏物质的排泄。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝不饿，不想吃时该怎么办？</string>
		<key>detail</key>
		<string>宝宝和大人一样，有着自己的进食规律，当宝宝不饿的时候，不要强制宝宝吃，可以在宝宝饿的时候再给他添加新食材 </string>
	</dict>
	<dict>
		<key>title</key>
		<string>如何选择新食材的尝试周期。</string>
		<key>detail</key>
		<string>一般新食材的尝试周期为3~7天，仔细观察宝宝的接受情况，以便随时调整添加方案。 建议宝宝在初尝新食材时，采用7天作为尝试周期，观察宝宝是否能很好的消化该食材，如果宝宝消化情况良好，排便正常，无过敏反应，可再尝试另一种新食材。 对于易过敏或有家族过敏史的食物可采用7天作为尝试周期，以更好的观察宝宝是否会出现过敏及消化不良的情况。 </string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝情绪不好，不想吃时该怎么办？</string>
		<key>detail</key>
		<string>宝宝和大人一样，愿意心情好的进食，因此当宝宝情绪不好的时候，不要强制宝宝吃饭，建议在宝宝情绪好的时候再给宝宝尝试新食材。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝拒绝喂饭的小匙怎么办？</string>
		<key>detail</key>
		<string>当把喂饭的小匙放到宝宝嘴边时，宝宝哭着就不张嘴，这时千万不要把小匙硬塞到宝宝嘴里，可以让宝宝休息一会，然后再试试，反复几次，宝宝慢慢就接受了。 或者也可以在宝宝情绪好的时候，用小匙盛上宝宝喜欢的食物，反复放到宝宝嘴边，让宝宝慢慢适应。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝不喜欢新食材时该怎么办？</string>
		<key>detail</key>
		<string>不要强迫宝宝接受新食物，这会引起宝宝更大的反感，可以试着用以下方法来让宝宝接受新食物。
①进行趣味制作后再试着添加；
②改变制作方法或搭配方式后再给宝宝喂；
③与宝宝喜欢的食物搭配在一起制作；
④选择有趣的餐具来引起宝宝对新食物的兴趣。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>新食材的软硬度不合适怎么办？</string>
		<key>detail</key>
		<string>爸爸妈妈要根据宝宝的年龄段特点来调整食物的大小、软硬，如果新食物做的过大、过硬，宝宝就会因为这种食物不容易咀嚼而拒绝接受新食物，爸爸妈妈此时要调整食物的大小、软硬度，千万此不能因为宝宝不会咀嚼而一直给宝宝吃泥糊状的食物，这样会影响宝宝咀嚼能力的发展。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>感冒期间护理方法</string>
		<key>detail</key>
		<string>（1）让宝宝充分休息，宝宝年龄越小，越需要休息，待症状消失后才能恢复自由活动。
（2）按时服药。
宝宝感冒发热期，应根据宝宝食欲及消化能力不同，分别给予流食或面条、稀粥等食物。喂奶的宝宝应暂时减少次数，以免发生吐泻等消化不良症状。
（3）居室安静，空气新鲜，禁烟，温度宜恒定，不要太高或太低。有喉炎症状时更应注意，这样才能让宝宝早日康复。如果发热持续不退，或者发生并发症时，应及时去医院诊治，以免发生意外。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>感冒期间饮食建议</string>
		<key>detail</key>
		<string>宝宝感冒后的饮食应尽量清淡，妈妈应让宝宝少吃太咸、太甜、太酸、太辣的食物，少吃鱼虾肉类和太油腻的食物，坚决不要让宝宝吃生冷食物，以免加重宝宝的病情。 为了给宝宝补充营养，妈妈可多让宝宝吃一些蔬菜和水果，多让宝宝吃粥、汤面等流质、半流质的食物，多让宝宝喝水。鸡蛋或豆制品可适当地吃一些，但是一定要煮熟、弄软，使宝宝容易消化。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>感冒的疾病介绍</string>
		<key>detail</key>
		<string>感冒是宝宝最为常见的疾病之一。在一年内往往反复发生感冒数次之多。 宝宝感冒轻重程度相差很大。轻者，只是流清水鼻涕、鼻塞、喷嚏、或者伴有流泪、微咳、咽部不适，一般3-4天能自愈。有时也伴有发热、咽痛、扁桃体发炎以及淋巴结肿大。发热可持续2-3天至1周左右。宝宝感冒时还常常伴有呕吐、腹泻。重者，体温高达39℃-40℃或更高，伴有畏寒、头痛、全身无力、食欲减退，睡眠不安等全身症状。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>咳嗽的疾病介绍</string>
		<key>detail</key>
		<string>咳嗽是机体的一种保护性动作，以消除呼吸道的分泌物、渗出物及侵入呼吸道的异物，引起小儿咳嗽的原因很多，不同病因造成的咳嗽，其临床表现也不同。 一般病情不重，虽然有发热、咳嗽、干咳、甚至咳嗽有痰，常在7-10天内痊愈。如反复发生可发生支气管炎，甚至转为支气管肺炎。有先天性心脏病左向右分流型，如室间隔缺损、房间隔缺损、动脉导管未闭的婴幼儿，通常更易反复发生支气管炎。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>咳嗽期间护理方法</string>
		<key>detail</key>
		<string>（1）父母对宝宝的护理非常重要，宝宝睡不着不必强迫，可以坐着玩。对伴有呕吐、腹泻的宝宝第一天应给流食。 
（2）对一般的发热、咳嗽的宝宝，要吃些可口、清淡、有营养的饮食。冬天务必给热的饮食，面条、片汤都很好。发热出汗体液消耗多，要多喝水和果汁，多吃水果。
（3）宝宝病时不要洗澡，因为洗澡会使血液循环旺盛，且容易受惊。
（4）痰多的宝宝确会因洗澡而增加分泌物，但只能在患病一周后，早晨稍有咳嗽，食欲也好，能玩，不发热时，可在入睡前洗一次澡。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>咳嗽期间饮食建议</string>
		<key>detail</key>
		<string>1.宝宝的饮食应以富含维生素的新鲜蔬菜为主，可适当吃一些豆制品，少量地吃一些瘦肉或禽、蛋类食品，但一定要精心烹调，做的软烂，使它们容易消化；可以吃一些梨、苹果、藕等具有生津润肺作用的水果，但一定要少量。
2.咳嗽时宝宝忌食的食物。
1）一切冷饮和冰镇饮料，苦瓜、西瓜等性质含量的蔬菜和水果。
2）鱼虾等水产品属于“发物”，很容易导致咳嗽加重，对风热咳嗽的宝宝影响尤其严重，也应该不吃或少吃。
3）油脂过多的食物（如花生、瓜子、巧克力），过甜的食物，都容易滋生痰液，使宝宝的咳嗽变得难以痊愈，不宜多吃。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>发烧的疾病介绍</string>
		<key>detail</key>
		<string>发热是身体对外来的细菌、病毒侵入的一种警告，是人体的一种天生的自我保护功能。
发热的宝宝只不过是对微量的病毒比较敏感而已，这样反而激发了自身的免疫力。
发热的常见原因有上呼吸道感染、胃肠或泌尿道感染、肺炎、不明发热等。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>发烧期间护理方法</string>
		<key>detail</key>
		<string>1.首先要确定体温 先把体温表甩到35℃以下，以免误测高温，然后把体温表夹在宝宝的腋窝处，等10分钟以上。体温低于37℃属于正常体温，37℃-38℃只能算低热，超过了38℃也别慌，宝宝对温度的耐受程度和大人是不一样的，不要认为大人到这个温度会难受得要命，宝宝也会这样，哪怕到了39℃，宝宝也许表现的都还挺有精神。
2.补充足够的水分 必须给宝宝补充足够的水分，包括白开水、果汁、运动饮料、水果等，最好是多喝温开水。因为体液、尿液、汗液都是降温的必要途经，各种降温药也都是利用排出体液来达到降温的目的，而且用降温药之前也必须有足够的入水量做前提，打点滴就是一种被动的输入水分的方法。依不同体重而调整，一般而言，体重10千克者至少一天应摄入1000毫升水，20千克者则应摄入1500毫升水。若天气闷热导致多汗，则应再增加摄入量。
3.预防高热惊厥 1）宝宝6个月以后，建议家里准备些退热贴，一旦发热超过38℃即可在脑前、脑后各贴一片，这样有利于保护脑细胞不受高热的损害。如果没有备，可以用湿毛巾敷脑门，效果也是一样的。
2）如果用酒精擦拭降温，只在宝宝的腋窝、大腿、颈部等大动脉处擦拭即可，无须全身擦拭，否则很可能造成婴儿酒精中毒。此外，为宝宝擦拭完酒精后要立刻用被子、毯子等为宝宝盖上。
3）婴儿皮肤娇嫩、毛细血管丰富，不能用成人常用的75°酒精来擦拭，而要用25%-35%左右的酒精来退烧。此外，需注意的是酒精擦拭退热，一般只适合于高热、无寒战又无汗的情况，而高热、寒战或伴出汗者不宜用酒精擦拭。
4）囟门未闭合、高热无寒战又无汗的宝宝可使用囟门逼汗法退热。爸爸（一定要是年轻男性）双手搓热，用掌心捂在宝宝囟门上，坚持10-20分钟，逼出汗即可。年轻男性的阳气要重一些，一般情况下要远比产后气血两虚的母亲捂效果要好得多。
5）如果上述方法都没有见效，或是体温过高的话，可以马上给孩子进行一次温水浴。在水里浸得时间稍长一点，洗过之后隔15分钟再测一次体温，如果不降可以再进行一次。可以用热毛巾在孩子的脖子两侧、咯吱窝、腹股沟多擦几遍，直到皮肤发红为止，这样有利于散热。
6）如果以上方法都做了，一般来说宝宝的体温是可以控制住的，至少可以保证宝宝不会受到高温的威胁，不会发展到惊厥的地步，而且有足够的时间来观察、转移和等候医治。
4.寒战期的护理 发热可以简单地分为寒战期和退热期。寒战期：四肢冰冷、发抖，应该予以保暖，如增加衣被、四肢热敷、温开水摄入等。如果在寒战期有头疼出现，可先使用冰枕，减缓不适感。
5.退热期的护理
退热期：四肢温暖、流汗，可减少盖被，穿宽松衣物，保持室内空气流通，室温宜保持在24℃-26℃（夏季热时室温可再下降），使用冰枕及擦澡。使用冰枕5-10分钟需注意四肢是否温热，若冰冷则应再保暖，暂停用冰枕。小于3个月的宝宝建议用水枕，不用冰枕。退热期洗温水澡（水温36℃-37℃，泡20-30分钟）可以使皮肤微血管扩张，借助水蒸气而达到散热的目的。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>发烧期间饮食建议</string>
		<key>detail</key>
		<string>1.及时补充水分。发烧时，容易造成水分流失而引起脱水症状，因此可以让宝宝喝凉开水、麦茶、宝宝专用的电离子饮料、果汁等。也可以喝母乳、牛乳等。
2.宝宝没有食欲的时候不必勉强，只需补充水分即可。宝宝有食欲时，为了不造成消化负担，要喂宝宝纤维与油脂少、松软的食物，如粥、乌龙面、菜粥等。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>腹泻的疾病介绍</string>
		<key>detail</key>
		<string>腹泻产生的原因一般如下所述：
1.秋季腹泻。又叫小儿轮状病毒肠炎，这种病毒就是小儿腹泻的主要病原之一，它的季节性强，不分南北方，每年秋冬季发病，12月份达到高峰，发病多为6-24个月的婴幼儿。
2.细菌性感染。此病可急可缓，多因卫生不够，病从口入。
3.饮食因素。多见于人工喂养或添加辅食的婴幼儿。
4、其他因素。如气候变化，水土不服等。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>腹泻期间护理方法</string>
		<key>detail</key>
		<string>1.保持清洁，勤换尿布，保持皮肤清洁干燥。每次大便后，宜用温水清洗臀部及会阴部。
2.勤翻身，特别是对营养不良患儿、输液时间较长者或昏迷患儿，应预防继发肺炎，避免褥疮发生。
3.呕吐频繁患儿应侧卧，防止呕吐误吸入引起窒息，经常擦洗，避免颈部糜烂。
4.按时喂水或口服补液用的含盐溶液，以缩短静脉补液的时间及避免脱水。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>腹泻期间饮食建议</string>
		<key>detail</key>
		<string>腹泻期间要适当减少宝宝的食量和喂饭次数，以减轻宝宝胃肠所受到的压力。 要让宝宝多吃富含水分和营养、无渣或少渣、无粗纤维、低脂肪的食物，以减少宝宝的肠道蠕动。 宝宝未彻底痊愈前，各种不容易消化的油炸食物，芹菜、韭菜等含粗纤维过多的食物都不要给宝宝食用。 </string>
	</dict>
	<dict>
		<key>title</key>
		<string>便秘的疾病介绍</string>
		<key>detail</key>
		<string>粪便在大肠停留的时间过长，其水分大量被吸收，粪块儿就会干硬，无法顺利排出，这就形成了便秘。如果爸爸妈妈发现宝宝这一段时间没有排便，或便后表现出不舒服的症状，如奶量减少、把腿抬到胸部等，这大多是便秘的预兆。便秘不仅是指排便间隔长，还有大便干硬等症状。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>便秘期间护理方法</string>
		<key>detail</key>
		<string>1.养成良好的饮食习惯。
鼓励宝宝多吃新鲜蔬菜、水果（不建议食用季节水果）、五谷杂粮制成的食品。忌食冰激凌。奶酪、精米、胡萝卜不要进食过量。 建议家长自制新鲜的酸奶，这样可以保证酸奶里的益生菌含量。到超市选购一定要选择不含有防腐剂、稳定剂、香精、色素等添加剂的品种。
2.服用益生菌，益生菌可以调节肠道菌群，加速肠道蠕动，利于大便排出。 3.少量多餐、多喝水。少量多餐可以防止积食，多喝水可以滋润肠道，使宝宝大便稀软。
4.养成定时排便的习惯。3个月以上的婴儿就可以训练定时排便，幼儿可在清晨或睡前坐便盆，并养成每日定时排便的习惯。
5.适当运动。运动有助于改善便秘症状，让宝宝爬一爬，滚一滚也是很好的促进肠蠕动的活动。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>便秘期间饮食建议</string>
		<key>detail</key>
		<string>调整饮食结构。少量多餐，多喝水。适当减少蛋白质类食物摄入，增加粗纤维的蔬菜、富含纤维素的谷类食物，鼓励宝宝进食新鲜水果。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>上火期间护理方法</string>
		<key>detail</key>
		<string>1.坚持母乳喂养。母乳含丰富的营养物质和免疫抗体，可提高抵抗力，防止上火。
2.培养良好饮食习惯。4个月后要适时添加辅食，例如喂宝宝一些菜水、果汁等，6个月以后应合理补充富含膳食纤维的谷类、新鲜蔬果等。夏天要给宝宝喝水，可以给宝宝煮一些绿豆汤等。 </string>
	</dict>
	<dict>
		<key>title</key>
		<string>上火的疾病介绍</string>
		<key>detail</key>
		<string>上火是中医和民间说法，在日常生活中，常见到宝宝有便秘、尿黄、眼屎多、口舌生疮的现象，一旦宝宝出现上述症状，一般认为宝宝是“上火”了。而现代医学则认为这是由各种细菌、病毒侵袭机体，或由于积食、排泄功能障碍所致。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>积食期间饮食建议</string>
		<key>detail</key>
		<string>1.多给宝宝吃容易消化的米粥、面汤、面条等食物，多给宝宝吃蔬菜、水果，少吃肉，可适当吃些鱼虾，但尽量别给宝宝吃油炸、膨化食品。
2.按照定时定量的原则给宝宝安排饮食，坚决杜绝暴饮暴食；早上或中午宝宝刚睡醒的1小时内（至少30分钟）不要让宝宝进食，以免给宝宝的胃肠造成负担，影响宝宝的消化功能；控制宝宝食量，每次吃饭尽量保持在七分饱左右；晚餐不宜让宝宝吃得过饱。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>积食期间护理方法</string>
		<key>detail</key>
		<string>1.节制饮食，适量控制宝宝的进餐量，饮食应软、稀和易于消化（如米汤、面汤之类），经过6-12个小时后，再给幼儿进食易消化的蛋白质食物。
2.父母要培养幼儿养成良好的饮食习惯。每餐定时定量，以避免幼儿积食的发生。
3.要让幼儿多到户外活动，这有助于身体对食物的消化和吸收。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>积食的疾病介绍</string>
		<key>detail</key>
		<string>幼儿自我控制能力较差，只要是爱吃的食物，如糖果、牛肉干等，就不停地吃。宝宝吃了过于油腻、生冷或过甜的食物，胃胀得鼓鼓的，从而引起消化不良、食欲减退，中医称为“积食”。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>上火期间饮食建议</string>
		<key>detail</key>
		<string>上火的宝宝要忌食辛辣、油腻、热量过高的食物。此外要杜绝给宝宝服用补品，否则会使宝宝体内内热丛生，出现流鼻血、口舌生疮等症状。
要多喝白开水，宝宝能吃粥以后，妈妈可以让宝宝多喝红薯粥、绿豆粥、南瓜粥、蔬菜粥、小米粥等味道清淡、营养全面又容易消化的粥，为宝宝补充能量和营养。
此外妈妈患可以让宝宝多吃富含维生素、纤维素的蔬菜和粗粮，以促进宝宝排便，以此来帮宝宝泻火。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>湿疹期间饮食建议</string>
		<key>detail</key>
		<string>避免会成为过敏源的食物
出生1年以内出现湿疹时，只要调节食物也能缓和症状。平时要仔细观察什么食物引起过敏反应。宝宝平时吃的食物里添加新的食物时不要一次加多个，要以3-4天的间隔一个一个地增加，确认皮肤的反应。出生1年过后免疫力强化，肠道的功能变好，食物对湿疹不会起很大影响。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>湿疹期间护理方法</string>
		<key>detail</key>
		<string>（1）给宝宝穿100%纯棉衣服
要穿吸收性好的纯棉衣服，不要穿过紧身的毛衣。洗衣服时要多次充分地冲洗，不要让洗涤剂还留在衣服上。要给宝宝穿宽松点的衣服。
（2）用30℃-35℃的温水洗10分钟
维持皮肤的清洁是最重要的。洗澡水最好的是稍微比体温低一点的30℃-35℃，不要刺激到皮肤。 洗太长时间，皮肤的脂质会减少，最好是洗10-15分钟。皮肤要充分吸收水分，所以最好是泡在浴池里洗，洗完后轻轻擦水，为了防止皮肤干燥，要在3分钟以内抹婴儿油或保湿剂。 不要经常洗澡，反而会使皮肤更干燥，会恶化湿疹，就算是闷热的夏季每天洗澡次数也不要超过1次，非得洗时要简单地用淋浴器洗。
洗完澡后容易干燥，比起用毛巾操，最好等到身上的水自己干，这样对皮肤更好，但如果担心感冒，就用温柔的棉毛巾轻拍着擦。用毛巾擦干会强烈刺激到因洗澡变弱的皮肤。
（3）让宝宝呼吸新鲜空气
呼吸外部空气可以锻炼宝宝的皮肤和呼吸，天气好时一天做几次散步或让宝宝在外面玩，运动量增加，食欲也增加，多和自然接触，自己找回免疫系统的均衡。阴天或下雨天等不能出去的时候到阳台或打开窗户，让宝宝接触外面的空气。
（4）经常换气
屋里空气干燥或不干净时湿疹的症状会更严重。随时开窗换气。夏季潮，要多注意去除潮气。眼光明媚的天气要打开房门、阳台窗和大门，换气30分钟左右。这时衣柜门也都打开一次性换气，鞋柜和卫生间的门也要打开。
（5）常晒寝具
阳光明媚的天气中，要将被子、枕套、床单等拿到挂到外面晒。
（6）玩耍也要挑着玩
宝宝随时都会把手放进嘴里，所以有湿疹的宝宝要注意，玩黏土游戏或画画后要特别注意，玩黏土游戏时接触黏土的手和胳膊部分要用香皂洗干净。就算无毒性，但皮肤敏感的宝宝环是受到刺激，要提前找到恶化症状的原因，事前隔离。
（6）解决大小便
大肠里充满便就会阻碍血液循环。便排出的毒素会对人体有坏影响，所以要治疗湿疹就得先解决大小便。经常给宝宝做肚子按摩或帮宝宝做仰卧起坐等肌肉运动有助于通便。多吃水果和蔬菜。限制面粉、多糖的食物和清凉饮料。 </string>
	</dict>
	<dict>
		<key>title</key>
		<string>湿疹的疾病介绍</string>
		<key>detail</key>
		<string>湿疹是免疫系统过敏引起的过敏疾患的一种，对外部刺激有过敏反应。湿疹持续，免疫机能会变弱，容易伴随感冒、鼻炎、气喘等别的过敏症状。还有长时间反复地忽好忽坏会影响到宝宝正常的成长发育，对情绪也有影响。最好在初期尽快治疗。
得了湿疹会引起过敏反应，脸和腮部出现粟米大的疹子，渐渐分散到身躯和胳膊腿上。 </string>
	</dict>
	<dict>
		<key>title</key>
		<string>食材的计量方法</string>
		<key>detail</key>
		<string>计算食物中能量的方法有许多种，最常用的方法就是查阅各类书籍中所提供的各种食物所含能量(成分)表。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝厌食的原因有哪些？</string>
		<key>detail</key>
		<string>（1）消化道疾病可以直接影响宝宝的消化功能，进而引发宝宝厌食。
（2）微量元素如铁、锌等缺乏时，也会引起宝宝食欲下降，甚至是厌食。
（3）宝宝吃零食、甜食、油腻食品过多，进而导致了厌食。
（4）宝宝缺乏足够的户外活动，能量消耗少，所以吃得也少。
（5）家长过分溺爱或教导不当，致使宝宝缺乏正常进食的心理。
（6）宝宝在1周岁以后，由于生长发育速度会减缓，所以食欲也会有所下降。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>给宝宝测量身长的方法</string>
		<key>detail</key>
		<string>身长包括头、脊柱和下肢长的总和。应让婴儿躺着量身长。测量前先脱去婴儿的鞋、袜、帽、外衣裤及尿布。在家里，如果没有量板，可让婴儿躺在桌上或木板床上，在桌面或床沿贴上一软尺。在婴儿的头顶和足底分别放上两块硬纸板，读取头板内侧至足板内侧的长度，即为婴儿的身长。测量身长时需注意足板一定要紧贴婴儿的足底，而不能只量到脚尖处，否则，会使测得的身长大于其实际身长  </string>
	</dict>
	<dict>
		<key>title</key>
		<string>给宝宝自测体重的注意事项</string>
		<key>detail</key>
		<string>1、在测量前最好空腹，排去大小便，尽量脱去婴儿衣裤、鞋帽、尿布等，仅穿单衣裤；
2、所测得的数据应减去婴儿所穿的衣物及尿布的重量。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>给宝宝自测体重的方法</string>
		<key>detail</key>
		<string>家长抱着婴儿站在磅秤上称体重，减去大人的体重，即为婴儿体重。 注意：由于普通家用体重秤的测量误差在100g左右，所以采用这种方法不能准确得知婴儿在一周内的体重增长情况，而只是适于较长时间的体重变化。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>监测身长、体重发育的重要性</string>
		<key>detail</key>
		<string>监测身长、体重发育的重要性：
1、身长和体重等生长指标反映了婴儿的营养状况。
2、身长（身高）是间接评价孩子骨骼发育的一个重要指标，应该对婴儿进行定期连续的测量，以更好地了解婴儿的生长发育速度十分正常，也可以及时了解喂养婴儿的方法是否正确。
3、孩子的生长有其个体特点，生长速度有快有慢，只要孩子的生长发育在正常范围内就不必担心。
4、婴儿的年龄越小，测量身长、体重的间隔时间应越短，出生后前6个月每月一次，如病后恢复期可增加测量次数。当您测量之后别忘记及时将数据记录下来！
5、体重是婴儿的健康标志，是判定婴儿体格发育和营养状况的一项重要指标。
6、一个正常的婴儿体重是随着年龄的增加而不断增加的，年龄越小体重增加越快，而且还有一定的规律。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝吃多了爱吃的食物怎么办？</string>
		<key>detail</key>
		<string>宝宝如果遇到喜欢吃的食物就会表现出非常想吃的样子，这样就很容易在不知不觉中喂多了。如果婴儿吃后没有什么异常，就说明婴儿有充分的消化能力，但也有婴儿吃后大便增多的情况。 如果辅食没有问题（烹调器具用开水充分消毒，辅食制作干净卫生，辅食原料新鲜），就是因为吃多了引起的，一般不会有什么太大的问题。妈妈不要一看到宝宝大便有变化就感到不安，而应看宝宝的整个身体状况。如果宝宝气色好，爱喝奶，不发热，精神好，就没有必要担心。遇到这种情况，不要立即给宝宝停止辅食，如果宝宝还喜欢吃，可以接着喂。 妈妈应该知道，宝宝吃进的食物多了，大便必然会稀些。只要宝宝精神好，体重增加也正常，就可以继续喂奶和辅食。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝前一天吃的太多怎么办？</string>
		<key>detail</key>
		<string>如果宝宝前一天吃的太多，会产生积食，从而影响宝宝的进食量，因此一定要给宝宝养成定时定量吃饭的好习惯。别让宝宝养成爱吃的饭菜多吃否则就少吃或不吃的坏习惯，这不利于宝宝均衡地吸收营养。如果宝宝出现了积食，在饮食上就要相应地减少食量，并选择清淡的蔬菜、容易消化的米粥、面汤、面条等给宝宝。 </string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝前一天吃了太多零食怎么办？</string>
		<key>detail</key>
		<string>宝宝的胃容量有限，在前一天吃太多的零食会造成宝宝积食，从而影响第二天的进餐，一定要给宝宝养成按时进餐的好习惯，尤其要避免过多进食零食，特别是过多进食油炸、膨化食品。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝活动量较少，进食减少怎么办？</string>
		<key>detail</key>
		<string>运动量小，宝宝的消耗就少，所需要的能量也就减少了，这就直接导致宝宝的进食量比平时减少，因此一定要让宝宝每日保持一定的运动量。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝吃饭时间不规律该怎么办？</string>
		<key>detail</key>
		<string>一定要让宝宝养成定点吃饭的好习惯，有了固定进食的时间段，消化系统才会在该时段分泌消化液，慢慢地宝宝就会在这个时间感觉到饿，并且会有食欲，这非常有利于宝宝对食物中营养的消化吸收。只有定点定时吃饭才能有利于宝宝定量吃饭。 </string>
	</dict>
	<dict>
		<key>title</key>
		<string>为什么不能让宝宝边吃边玩？</string>
		<key>detail</key>
		<string>经常看到爸爸妈妈为了哄宝宝多吃饭，而让宝宝边吃边玩，或边看电视边玩，甚至追着宝宝喂饭。这种做法是完全错误的。爸爸妈妈应该帮助宝宝建立起进餐应该在餐桌上进行的正确观念，从小培养做任何事情都要集中注意力的好习惯，使宝宝全身地投入进食过程中，而不受周围事物的干扰。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>如何正确地给宝宝吃零食</string>
		<key>detail</key>
		<string>适量给幼儿吃一些零食，可及时补充幼儿的能量以满足生长发育的需要，也给幼儿带来快乐。但一定要适量，时间及食物的选择也应恰当，否则会影响幼儿的正常饮食。 幼儿的胃容量小，而活动量却很大，消化快，所以往往还未到吃饭时间就饿了。这时可给幼儿一些点心和水果，但量不要多。 还需要提醒爸爸妈妈的是，要掌握给宝宝吃零食的时间。可在每天中、晚饭之间，给宝宝一些点心或水果。但量不要过多，约占总供热量的10%～15%。餐前1小时内不宜让孩子吃零食，否则影响正餐的摄入量。睡前不要吃零食，尤其是甜食，不然易患龋齿。 宝宝的饮食要以正餐为主，配方奶粉为辅，可适量添加零食。零食可选择各类水果、全麦饼干等，但量要少，质要精，花样要经常变化。 太甜太油的糕点、糖果、水果罐头和巧克力不宜经常作为宝宝的零食。因为它们含糖量高，油脂多，不易被宝宝消化，且经常食用易引起肥胖。冷饮和汽水不宜作零食，更不能让宝宝多吃，以免消化功能紊乱。 爸爸妈妈一定要有计划、有节制，不能宝宝喜欢什么就给买什么，让宝宝养成无休止地吃零食的坏习惯。 </string>
	</dict>
	<dict>
		<key>title</key>
		<string>可以在吃饭前吃零食/喝奶/水 吗？</string>
		<key>detail</key>
		<string>饭前让宝宝吃零食/喝奶/水/果汁，通常是宝宝到了吃饭时不想吃饭的重要原因。因此在饭前1小时不要让宝宝吃零食/喝奶/水/果汁等食品，以免影响正常的进餐。零食最好安排在两餐之间，且食用量不能超过正餐。这样既不会影响宝宝进食正餐的食欲，也避免了出现忽饱忽饿的情况。 </string>
	</dict>
	<dict>
		<key>title</key>
		<string>怎样帮宝宝养成良好的进餐习惯</string>
		<key>detail</key>
		<string>婴幼儿时期是一生良好饮食习惯的起点。饮食习惯是后天养成的，良好的饮食习惯一旦养成，将会影响一生的膳食营养摄取，不但会对生长发育阶段的体格生长和功能发育具有重要意义，而且将对成年后健康状况以及患慢性病的危害性产生深远影响。 要为婴儿创造良好的进餐环境，避免婴儿分心，多与婴儿进行眼神、语言交流，帮其养成专心进食的好习惯。当婴儿出现拒食时，应耐心地鼓励婴儿进食，不要强迫，尝试调整食物种类、搭配、性状、花色、口味，以提高婴儿的进食兴趣。具体做法如下：
1、 固定每次吃饭的时间喝固定的喂食者；而且最好在同一地点，用相同的餐具，使宝宝形成必要的条件反射。给宝宝准备漂亮的饭碗，碗里的食物不要盛放太多。宝宝吃完饭以后，要给予适当的表扬：“我的宝宝吃得真好”，使宝宝对吃饭总有新奇的感觉。
2、尽可能让宝宝品尝各种味道，培养对食物的喜好度。
3、营造安静环境，不要让宝宝边吃边玩玩具、也不要边看电视或者边讲故事边喂饭；更不要追着宝宝喂饭，应该让宝宝全身心的投入进食过程。
4、适当增加宝宝的活动量，宝宝玩累了就容易饿，进食就比较容易了。,br/&gt; 5、不要在用餐时训斥宝宝，应让宝宝心情愉快的进食，更不要强迫宝宝进食。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>宝宝每日应保持多大的运动量</string>
		<key>detail</key>
		<string>强壮的身体来自于均衡的饮食、适当的运动、充足的睡眠和愉快的心情。每日安排宝宝1~2小时的户外游戏与活动，既可接受日光照射，促进皮肤中维生素D的形成和钙质吸收，又可以通过体力活动实现对宝宝体能、智能的锻炼培养和维持能量平衡。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>如何为宝宝增加进食量</string>
		<key>detail</key>
		<string>1. 每天进步一点点
宝宝随着的身体发育进食量也在逐渐的增长，从宝宝添加辅食开始，在宝宝身体状况较好的时候，每天进食量增加一点，循序渐进地把宝宝的小胃撑开，可视孩子的接受情况，每顿增加半勺或一勺。
2. 榜样示范法 
　　细心点的家长都注意到，宝宝在和小伙伴一起吃进餐时，食量都很好，怎么一回家就变得挑食，不能好好进餐了呢？道理其实很简单，小伙伴一起动手，吃饭的“气氛”很浓烈的缘故。在家中，家长自己就是好榜样了。有些家长喜欢边吃饭边小酌，边聊天等，一方面延长了吃饭时间，影响宝宝形成良好的进餐习惯，另一方面也不利于宝宝的身体健康。因此，做榜样还要从家长做起。去同事亲戚家串串门，让宝宝们一起吃饭也是好的，不过家长应该在旁边正确引导，不要偏爱某一个。 
3. 饮食控制法 
　　许多家长为了给宝宝“加强营养”，给孩子每天的饮食配餐多以肉食为主，此外还提供许多高、精、细的零食。这些高糖、高热量的食物给孩子摄入后，引起血糖增高，大脑中饱食中枢兴奋，摄入中枢受到抑制，使人觉得饱而没有食欲。许多家长反过来又抱怨“孩子不好好吃饭”。因此家长要逐步掌握孩子的饮食规律性，逐渐培养孩子良好的饮食习惯。吃饭的时间最好要固定，要使孩子在每次餐前1小时不大量饮水、不吃水果等，保持空腹，产生“饥饿状态”，以刺激大脑进食中枢产生食欲，这样既可以避免偏食、厌食的发生，又同时使小孩在进餐后感到身体和情绪上的满足，产生快乐感，这种满足又可以进一步促进食欲的良性发展和完善。合理控制小孩零食，不选择含糖量较高的饮料、零食，以免引起中枢神经抑制，影响正餐时的饥饱状态。
4. 美食引诱法 
　　尽量将菜切得均匀，以免宝宝进食时挑来捡去。给宝宝做饭应多花心思，除了合理搭配食物的色、香、味以外，还发挥一点想象力，例如把食物拼成卡通图案，以此刺激宝宝的胃口。 
5. 户外活动法 
户外活动能令宝宝放松，同时适当的运动又会促进宝宝体内的新陈代谢，运动休息后不要急着给他(她)吃含糖量高的饮料食品，此时的小孩通常能够快乐地进餐。但在进餐前不进行过于兴奋的游戏或运动。吃饭时不要看电视或玩游戏。</string>
	</dict>
	<dict>
		<key>title</key>
		<string>合理安排进食量</string>
		<key>detail</key>
		<string>1岁以后宝宝进入到以奶为辅的阶段，此时，每日的进餐次数一般多为5次，即三餐两点。除早、中、晚三餐以外，在早中两餐中间和午睡以后，各加一次水果或点心。 每餐进食量应该根据宝宝的需要合理安排。早晨宝宝起床以后，食欲一般都很好，要吃好早餐，为上午半天的活动供给足够的营养。午餐要吃得种类多一些，量也要多一些，主要是为下午的活动提供足够的能量。晚餐应该吃得清淡一些，量也不要过多，这样有利于睡眠。</string>
	</dict>
</array>
</plist>
