<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ID</key>
		<string>com.netease.movie</string>
		<key>customUrl</key>
		<string>movieticket163</string>
		<key>icon</key>
		<string>huanggua</string>
		<key>title</key>
		<string>黄瓜</string>
		<key>url</key>
		<string>http://itunes.apple.com/app/id583784224?mt=8</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>com.netease.news</string>
		<key>customUrl</key>
		<string>newsapp</string>
		<key>icon</key>
		<string>huanggua</string>
		<key>title</key>
		<string>黄瓜</string>
		<key>url</key>
		<string>http://itunes.apple.com/app/id425349261?mt=8</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>com.netease.videoHD</string>
		<key>customUrl</key>
		<string>ntesopen</string>
		<key>icon</key>
		<string>huanggua</string>
		<key>title</key>
		<string>黄瓜</string>
		<key>url</key>
		<string>http://itunes.apple.com/app/id415424368?mt=8</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>com.netease.tvguide</string>
		<key>customUrl</key>
		<string>tvguide</string>
		<key>icon</key>
		<string>huanggua</string>
		<key>title</key>
		<string>黄瓜</string>
		<key>url</key>
		<string>http://itunes.apple.com/app/id480095986</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>com.netease.iphonereader</string>
		<key>customUrl</key>
		<string></string>
		<key>icon</key>
		<string>huanggua</string>
		<key>title</key>
		<string>黄瓜</string>
		<key>url</key>
		<string>http://itunes.apple.com/app/id462186890?mt=8</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>com.netease.iphonereader</string>
		<key>customUrl</key>
		<string></string>
		<key>icon</key>
		<string>huanggua</string>
		<key>title</key>
		<string>黄瓜</string>
		<key>url</key>
		<string>http://itunes.apple.com/app/id462186890?mt=8</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>com.netease.iphonereader</string>
		<key>customUrl</key>
		<string></string>
		<key>icon</key>
		<string>huanggua</string>
		<key>title</key>
		<string>黄瓜</string>
		<key>url</key>
		<string>http://itunes.apple.com/app/id462186890?mt=8</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>com.netease.iphonereader</string>
		<key>customUrl</key>
		<string></string>
		<key>icon</key>
		<string>huanggua</string>
		<key>title</key>
		<string>黄瓜</string>
		<key>url</key>
		<string>http://itunes.apple.com/app/id462186890?mt=8</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>com.netease.iphonereader</string>
		<key>customUrl</key>
		<string></string>
		<key>icon</key>
		<string>huanggua</string>
		<key>title</key>
		<string>黄瓜</string>
		<key>url</key>
		<string>http://itunes.apple.com/app/id462186890?mt=8</string>
	</dict>
	<dict>
		<key>ID</key>
		<string>com.netease.iphonereader</string>
		<key>customUrl</key>
		<string></string>
		<key>icon</key>
		<string>huanggua</string>
		<key>title</key>
		<string>黄瓜</string>
		<key>url</key>
		<string>http://itunes.apple.com/app/id462186890?mt=8</string>
	</dict>
</array>
</plist>
